body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-page{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.forum-index{
    display: flex;
    flex-direction: column;
}

.forum-category{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.parent, .subforum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.forum-title{
    display: flex;
    flex-direction: column;
    
}