*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration-color: white;
}

a{
    color: white;
}

.main-page{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.forum-index{
    display: flex;
    flex-direction: column;
    padding: 15px 30px 0px 30px;
}

.forum-category{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
}

.parent, .subforum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent{
    margin-bottom: 10px;
}

.subforum{
    margin-bottom: 7px;
}

.subforum .forum-title{
    display: flex;
    flex-direction: column;
    gap: 0px;
}