{% extends "core/home.html" %}

{% block title %}
{{forum.name}}
{% end %}

{% block style %}
<link rel="stylesheet" href="{{ static_url('css/view_forum.css') }}">
{% end %}

{% block content %}
{% include 'components/forum_category.html' %}
<div class="recent-forum-posts">
{% for topic in topics %}
<div class="topic" id='{{topic.id}}'>
    <span class="title">
        <a href="/topic/{{topic.id}}">
            {{topic.title}}
        </a>
    </span>
    <div class="created-info">
        <span class="created-by">{{topic.user.username}}</span>
        <span class="create-date">{{topic.created_on}}</span>
    </div>
</div>
{% end %}
</div>
{% end %}