<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Tornado Forum{% end %}</title>
        <link rel="stylesheet" href="{{ static_url('css/navbar.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
        {% block style %}
        {% end %}
    </head>
    <body>
        {% if not current_user %}
            {% set user_id = 0 %}
        {% else %}
            {% set user_id = current_user.id %}
        {% end %}
        <div class='main-page' data-user-id="{{user_id}}">
            {% include 'components/navbar.html' %}
            {% block content %}
            <div class="forum-index">
            {% for forum in forums %}
                {% include 'components/forum_category.html' %}
            {% end %}
            </div>
            {% end %}
        </div>
        {% block javascript %}
        {% end %}
    </body>
</html>