//whenever user is registered with google oauth, he should change his username.
<!DOCTYPE html>
<html>
    <head>
        <title>Change Username</title>
        <link rel="stylesheet" href="{{ static_url('css/change_username.css') }}">
    </head>
    <body>
        <h1>Change Username</h1>
        <form method="post">
            <input type="hidden" name="userid" value="{{current_user.id}}">
            <input type="text" name="change-username" placeholder="Set Username" autocomplete="off" required>
            <input type="text" name="confirm-change-username" placeholder="Confirm Username" autocomplete="off" required>
            <button type="button">Submit</button>
        </form>
        <div class="display-error">
        </div>
        <script src="{{ static_url('js/utils.js') }}"></script>
        <script src="{{ static_url('js/change_username.js') }}"></script>
    </body>
</html>