<!DOCTYPE html>
<html>
    <head>
        <title>Tornado Forum</title>
    </head>
    <body>
        <form method="post">
            {% module xsrf_form_html() %}
            <input type="text" name="username" placeholder="Username..." required />
            <input type="email" name="email" placeholder="Email..." required />
            <input type="password" name="password" placeholder="********" required />
            <button type="submit">Register</button>
        </form>
    </body>
</html>