<div class='navbar'>
    <div class='title'>
        <h2>Tornado</h2>
    </div>
    <div class='auth-related'>
        {% if not current_user %}
            <a href="/auth/login"><button>Login</button></a>
            <a href="/auth/register"><button>Register</button></a>
            <button>Register</button>
        {% else %}
            <a href="/chat"><button>Chat</button></a>
            <a href="/auth/logout"><button>Logout</button></a>
            <a href="/{{current_user.id}}/{{current_user.username}}"><button>Profile</button></a>
        {% end %}
    </div>
</div>