{% extends 'core/home.html' %}

{% block title %}
Chat
{% end %}

{% block style %}
<link rel="stylesheet" href="{{ static_url('css/chat.css') }}">
{% end %}

{% block content %}
<div class="main-chat-content">
  <!-- Chat Sidebar displays a list of users to chat with. -->
  <div class="chat-sidebar">
    <h3>Users</h3>
    <ul id="user-list">
      <!-- User list will be populated by JavaScript -->
    </ul>
  </div>
  
  <!-- Chat Display actually shows the chat messages -->
  <div class="chat-display">
    <div id="chat-header"></div>
    <div id="message-list">
        <!-- Messages will be populated by JavaScript -->
    </div>
    <div id="chat-form-container">
      <form id="message-form" style="display: none;">
        <input type="text" id="message-input" autocomplete="off" placeholder="Type a message..."/>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
{% end %}

{% block javascript %}
<script src="{{static_url('js/utils.js')}}"></script>
<script src="{{ static_url('js/chat.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const roomId = "{{ room_id if room_id is not None else 'null' }}";
    const roomName = "{{ room_name if room_name is not None else 'null' }}";

    loadUsers();

    if (roomId && roomId !== 'null') {
        const chatHeader = document.getElementById('chat-header');
        chatHeader.textContent = `Chat with ${roomName}`;

        connectToWebSocket(roomId);
        document.getElementById('message-form').style.display = 'flex';
    }
});
</script>
{% end %}