<div class="comment" id="comment-{{comment.id}}" data-comment-id="{{comment.id}}">
    <div class="comment-author">
        <a href="#">{{ comment.user.username }}</a>
    </div>
    <div class="comment-content">
        {% raw comment.content %}
    </div>
    <div class="comment-action">
        <div class="comment-vote-btn">
            <i class="fa-solid fa-arrow-up vote-btn" data-vote-type="1" data-comment-id="{{ comment.id }}"></i>
            <span class="score">{{ comment.score }}</span>
            <i class="fa-solid fa-arrow-down vote-btn" data-vote-type="-1" data-comment-id="{{ comment.id }}"></i>
        </div>
        <div class="comment-reply-btn">
            <i class="fa-solid fa-reply" data-comment-id="{{ comment.id }}"></i>
        </div>
    </div>
    <div class="comment-reply" id="comment-reply-{{comment.id}}" style="display:none">
        <div id="editor-{{comment.id}}">
        </div>
        <div class="handle-comment">
            <button value="Reply" class="reply-comment" data-comment-id="{{comment.id}}" type="button">Reply</button>
            <button value="Cancel" class="cancel-comment" type="button">Cancel</button>
        </div>
    </div>
</div>
{% if hasattr(comment, 'children_in_tree') %}
    <div data-parent-id="{{comment.id}}" data-comment-depth="{{comment.depth+1}}">
    {% for child_comment in comment.children_in_tree %}
        {% module Comment(child_comment) %}
    {% end %}
    </div>
{% end %}