<div class="comment-detail" id="{{ comment.id }}">
    <div class="comment-message">
        {{ comment.user.username }}
        <p>{% raw comment.content %}</p>
    </div>
    <div class="comment-meta">
        <div class="comment-votes">
                <i class="fa-solid fa-arrow-up vote-btn" data-vote-type="1" data-comment-id="{{ comment.id }}"></i>
                <span class="score">{{ comment.score }}</span>
                <i class="fa-solid fa-arrow-down vote-btn" data-vote-type="-1" data-comment-id="{{ comment.id }}"></i>
            </div>
        <i class="fa-solid fa-reply"></i>
    </div>
</div>