<div class="comment" id="comment-{{comment.id}}" data-comment-id="{{comment.id}}">
    <div class="comment-author">
        {% if hasattr(comment, 'children_in_tree') %}
        <div class="toggle-comment-visibility" data-comment-id="{{comment.id}}" data-visibility-status="shown">
            <button class="toggle-comment-button"><i class="bi bi-dash-circle"></i></button>
        </div>
        {% end %}
        <div class="conditional-comment-author-display">
        {% if comment.is_deleted %}
            <p>deleted</p>
        {% else %}
            <a href="/{{comment.user.id}}/{{comment.user.username}}">{{ comment.user.username }}</a>
        {% end %}
        </div>
    </div>
    <div class="comment-content">
        {% if comment.is_deleted %}
        <div class="deleted-comment">
            <p>This comment is deleted.</p>
        </div>
        {% else %}
            {% raw comment.content %}
        {% end %}
    </div>
    <div class="comment-action">
        <div class="comment-vote-btn">
            <i class="fa-solid fa-arrow-up vote-btn" data-vote-type="1" data-comment-id="{{ comment.id }}"></i>
            <span class="score">{{ comment.score }}</span>
            <i class="fa-solid fa-arrow-down vote-btn" data-vote-type="-1" data-comment-id="{{ comment.id }}"></i>
        </div>
        <!--We do not show the reply button, if the comment is deleted.-->
        {% if not comment.is_deleted %}
        <div class="comment-reply-btn">
            <i class="fa-solid fa-reply" data-comment-id="{{ comment.id }}"></i>
        </div>
        {% end %}
        <!--We only show the delete button, if it is admin or the owner and the comment is deleted-->
        {% if (current_user.is_staff or current_user.id == comment.user_id) and (not comment.is_deleted) %}
            <div class="comment-delete-btn">
                <i class="bi bi-trash" data-comment-id="{{ comment.id }}"></i>
            </div>
        {% end %}
    </div>
    <!--We do not render ckeditor if the comment is deleted.-->
    {% if not comment.is_deleted %}
    <div class="comment-reply" id="comment-reply-{{comment.id}}" style="display:none">
        <div id="editor-{{comment.id}}">
        </div>
        <div class="handle-comment">
            <button value="Reply" class="reply-comment" data-comment-id="{{comment.id}}" type="button">Reply</button>
            <button value="Cancel" class="cancel-comment" data-comment-id="{{comment.id}}" type="button">Cancel</button>
        </div>
    </div>
    {% end %}
</div>
{% if hasattr(comment, 'children_in_tree') %}
    <div class="nested-comment" data-parent-id="{{comment.id}}" data-comment-depth="{{comment.depth+1}}">
    {% for child_comment in comment.children_in_tree %}
        {% module Comment(child_comment) %}
    {% end %}
    </div>
{% end %}